/*--Colors--*/
$template-color: #E15554;
$template-color-dark: #d75554;
$template-color-light: #EAEAEA;

/*--Measurements variables--*/
$border-radius: 4px;

/*--Margin & Padding sizes--*/
$size-xsmall: 4px;
$size-small: 8px;
$size-medium: 16px;
$size-large: 32px;
$size-xlarge: 64px;
$size-xxlarge: 128px;
$size-xxxlarge: 192px;
